#
# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sun, or use names)
# user
# command
#
###############################################################################

# Check AIDE every day
{% if ansible_os_family|lower == "redhat" %}
0 5 * * * root /usr/sbin/aide --check
{% elif ansible_os_family|lower == "debian" %}
0 5 * * * root /usr/bin/aide.wrapper --config /etc/aide/aide.conf --check
{% else %}
# Unknown OS '{{ ansible_os_family }}', using default
0 5 * * * root /usr/sbin/aide --check
{% endif %}
